.nav {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(41, 4, 179);
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav__item-link {
  color: #fff;
  transition: all .3s ease-in-out;
}

.nav__item-link:hover {
  color: rgb(136, 136, 136);
}
